section {
    background-image: url("https://i.imgur.com/yNNEFHt.jpg");
    height: 1350px;
    padding-top: 120px;
    h1 {
        text-align: left;
        padding-top: 20px;
    }


.kontakt{
    margin-left: 500px;
    
    h1{
        font-family: cursive;
    }
    p{
        color:red;
    }
}


}