.admin {
  padding-top: 100px;
  position:center;
 
}

.admin th {
  color:black;
}

.admin form {
  color: black;
}

.admin thead tr {
  padding-right: 20px;
}

tbody tr td {
  padding-right: 40px;
  color: black;
}

thead tr th {
  padding-right: 40px;
}

.col-lg-12 {
  padding-right: 450px;
}

.col-lg-12 .display1 {
  padding-right: 450px;
}

.col-lg-12 .display2 {
  padding-left: 200px;
}
