.pozadina{
    background-color:#F5F5F5	;
  }
  .mill {
    
      img {
        width: 1500px;
        height:550px;
      }
    }
    #content {
      
      padding-top: 60px;
      text-align: center;
      h1 {
          text-align: center;
          
      }
      p {
          color:black;
          font-family: "Minion Pro";
        
      }}
     
      .slika1 {
        background-color:black;
        color: white;
        
        img {
          width: 1000px;
          height: 440px;
        }
        h3{
          position: absolute;
          top: 163%;
          left: 85%;
          transform: translate(-50%, -50%);
          font-family: "Minion Pro";
        }
      h5{
        position: absolute;
          top: 190%;
          left: 85%;
          transform: translate(-50%, -50%);
          font-family: "Minion Pro";
          font-size: 20px;
        
      }
        
     
      }
      
  
    #quality {
      padding: 3rem;
    }
    .novo{
      background-color:#F5F5F5	;
      
    }
   
    .hrana {
      background-color:#F5F5F5	;
      padding: 3rem;
      
      .center {
        display: block;
        width: 324px;
        height: 350px;
        margin-left: auto;
        margin-right: auto;
        
      
      }
      .card-body{
        h4{
          
          
          font-family: cursive;
      }
  p{
      
         
  }}
    }
  
    .novo{
      text-align: center;
      color:black;
      font-family: cursive;
  
           
  }
  
  .btn {
    background-color: white;
    color: black;
    border: 2px solid black;
  font-size:15px;
  }