<div class="pozadina">
  <div class="mill" >
      <img class="img-fluid" src="https://i.imgur.com/mAloY66.jpg" alt="Responsive image">
    
  </div>
    <div id="content">
          <h1 style=" color: black;">O NAMA</h1> <hr>
          <article>
                  
              <div class="container-fluid offer">
                      <div class="container">
                        <div class="row text-center">
                         <div class="col">
                           
                            <p class="lead text-justify">Porodična firma Z.R" Delfin NV-1" osnovana je
                                 2000god. Na početku osnovna delatnost je bila prerada i pakovanje 
                                 sirove kafe koja je svojim kvalitetom zadovoljila čula većeg dela
                                  potrošača Zapadne Srbije. Dve godine kasnije naš asortiman se
                                   proširuje na proizvodnju, preradu i pakovanje heljdinog integralnog brašna,
                                    a od skoro  su u ponudi i ostale vrste integralnog brašna. 
                                    <br>Naši kupci su prepoznali kvalitet brašna koji se melje na 
                                    prirodnom kamenu kao na vodenici i zastupljeno je u celoj zemlji.
                                     Veoma smo ponosni i na naše jastuke punjene heljdinim ljuspicama
                                      koji se izrađuju u dve dimenzije valjkastog i dve dimenzije četvrtastog oblika.
                                  Z.R."Delfin NV-1" posluje u skladu sa HCCP standardom. <br>Kontrolu kvaliteta
                              vrši Jugoinspekt Beograd, a sedište firme je u Novoj Varoši.
                              <br>Trudićemo 
                          se i dalje da osvajamo nove potrošace. Hvala na ukazanom poverenju!</p>
                          <br>
                          </div>
                        </div>
                      </div>
                    </div>

                  
                    <div class="slika1">
                      <img class="img-fluid" src="https://i.imgur.com/Iv9dgOR.jpg" alt="Responsive image">
                      <h3>Zašto heljdino brašno?</h3>
                      <h5>Heljda je bogata dijetalnim vlaknima,
                         sadrži osam esencijalnih aminokiselina, 
                         bogata je flavonoidima, posebice rutinom.
                         Otkriveno je da heljda smanjuje visoki tlak i kolesterol,
                          održava zdravlje kardiovaskularnog sistema i smanjuje rizik od raka.</h5>
                                 
               </div>
                  
               
      
          <div class="novo">
                  <h2><br><br>RECEPTI</h2>
                  <hr>
              
    <div class="container hrana">
          <div class="row">
            <div class="col xs-12 col-sm-6 col-md-4">
              <img class="center" src="https://i.imgur.com/H68ysl4.jpg" alt="Card image cap">
              <div class="card-body text-center">
                <h4 class="card-title">Heljdopita</h4>
                <p class="card-text text-justify">U posudu sipati brašno
                     i jednu tečnost. Dodati drugu tečnost. Na teflonskom
                       tiganju peći palačinke na malo ulja, pola kašičice ili manje. 
                      Sir izgnječiti viljuškom, 
                      dodati kajmak (ja sam stavila pavlaku
                       u nedostatku kajmaka, ali svakako je bolje sa kajmakom), 
                       jaja i mleko. 
                      Okrugli pleh odgovarajuće veličine postaviti
                       papirom za pečenje pa slagati pitu.  I poslednju 
                         palačinku premazati odozgo a ako ima još fila preliti
                          okolo. Ja nisam imala mali okrugli pleh pa sam pekla
                           u plićoj šerpi odgovarajuće veličine.
                      Ispeći na jačoj tempreaturi oko pola sata.</p>
              </div>
              <a routerLink="/" class="btn btn-info btn-lg" href="">Pročitaj više</a>
            </div>
        <!-- Offers-Intro Item -->
        <div class="col-4">
          <img class="center" src="https://i.imgur.com/v9LnRQD.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h4 class="card-title">Projice</h4>
            <p class="card-text text-justify">Izmešajte sve sastojke
                 i sipajte smesu u kalup za projice, prethodno namazan
                  margarinom i posut sa malo brašna, ali samo do 2/3 visine kalupa.
                  <br>
                  Projice pecite u prethodno zagrejanoj pećnici na 200 C oko 30-tak minuta.
                  Poslužite ih tople uz kiselo vrhnje, ajvar, malo sunkice, kulena i sl.
                  Projice su mi nekako najlepše kada ih napravim sa jogurtom,
                   možete dodati i malo seckanog suvog mesa ili začinskog bilja
                    u smesu, a ako stavite 2 jajeta biće posebno vazdušate i mekane.</p>
          </div>
          <a routerLink="/" class="btn btn-info btn-lg" href="">Pročitaj više</a>
        </div>
        <!-- Offers-Intro Item -->
        <div class="col-4">
          <img class="center" src="https://i.imgur.com/BqT6PBg.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h4 class="card-title">Heljdin hleb</h4>
            <p class="card-text text-justify">
                  Staviti u posudu brašno i pomešati da se lepo sjedine. 
                  Dodati šećer, so, ulje i izmrvljen kvasac i uz dodavanje 
                  tople vode umesiti mekano testo.
                  Sve ovo raditi varjačom ili mikserom.
                  Malo ga posuti brašnom, prekriti i ostaviti 60 minuta na toplom da kisne.
                  Posle tog vreme uzeti testo i oblikovati veknu koju složimo u podmazan duguljast pleh.
              Zagrejati rernu na 250 stepeni, hleb premazati 
              hladnom vodom, zaseći na par mesta oštrim nožem i staviti da se peče. 
              Posle 15 minuta smanjiti temperaturu na 200 stepeni.
           </p>
           
          </div>
          <a routerLink="/" class="btn btn-info btn-lg" href="">Pročitaj više</a>
        </div>
    
      </div>
    
    </div> </div>
  

    