.pozadina {
  background-image: url("https://i.imgur.com/yNNEFHt.jpg");
  height: 800px;
  .panel{
    padding-top: 80px;
  }
  .forma{
    background: white;
  }
  button:hover{
   color: #ffb3b3;
   
  }
}