<div class="pozadina">
  <div class="row panel">
    <div class="col-3"></div>
    <div class="col-6 forma">
      <div class="panel text-center">
        <h2>REGISTRUJ SE</h2>
        <p style="color: red">Molim Vas popunite sva polja.</p>
        <hr>
      </div>
      <form role="form" [formGroup]="registerForm" (ngSubmit)="onRegistration(registerForm.value)">
        <div class="form-group">
          <label for="firstname">Ime:</label>
          <input id="firstname" type="firstname" class="form-control" formControlName="firstname" >
        </div>
        <div class="form-group ">
          <label for="lastname">Prezime:</label>
          <input id="lastname" type="lastname" class="form-control" formControlName="lastname">
        </div>
        <div class="form-group ">
          <label for="address">Adresa:</label>
          <input id="address" type="address" class="form-control" formControlName="address">
        </div>
        <div class="form-group ">
          <label for="email">Email:</label>
          <input id="email" type="" class="form-control" formControlName="email">
        </div>
        <div class="form-group ">
          <label for="password">Lozinka:</label>
          <input id="password" type="" class="form-control" formControlName="password">
        </div>
        <div class="row">
          
          <div class="col-6 text-right">
            <button type="submit" class="btn">Registruj se</button>
          </div>
        </div>
      </form>
      <hr>
     
      </div>
    </div>
    <div class="col-3"></div>

  </div>
