<div class=" img-fluid">
  <app-carousel-basic></app-carousel-basic>
</div>
<div class="novo">
  <h2>
    <br>
    
    <br>NOVO U PONUDI</h2>
</div>
<div class="container offers">
  <div class="row">
    <div class="col-4">
      <img class="center" src="https://i.imgur.com/DGEp9Fk.jpg" alt="Card image cap">
      <div class="card-body text-center">
        <h4 class="card-title">OVSENO BRAŠNO</h4>
        <p class="card-text text-justify">Ovseno brašno spada u takozvana “mrvljiva” brašna što znači da će se svako pecivo sa njim mrviti, posebno hlebasto.
          I zato ga ja nikad ne stavljam u hleb. To brašno je dobro za keks, proju ili mafine. Može da se stavi i u lepinje
          ali će se i one mrviti. Slično je i sa ječmenim brašnom. I zato ga stavljamo u manjim količinama. Od ova dva brašna
          se peciva takođe brže suše i nisu dobra za stajanje. I zato mislim da je sa ovim brašnima, posebno ovsenim, najbolje
          praviti mafine. A hleb sa nekim drugim. U redu je ako se hleb malo mrvi.</p>
      </div>
    </div>
    <!-- Offers-Intro Item -->
    <div class="col-4">
      <img class="center" src="https://i.imgur.com/E7T7uZa.jpg" alt="Card image cap">
      <div class="card-body text-center">
        <h4 class="card-title">RAŽANO BRAŠNO</h4>
        <p class="card-text text-justify">Raž su ljudi u početku smatrali korovom koji je napao polja pšenice. Kasnije se ispostavilo da je ova žitarica prava
          kraljica. Ražano brašno, pa samim tim i hleb, najviše cene Nemci. Sigurno ste svi čuli, ako niste i probali, pumpernickel
          – ražani hleb koji se tradicionalno pravi od kiselog testa. Izrazito je taman i često malo sladak zbog različitih
          dodataka koje ima. Ako je hleb svetliji, vazdušast i lagan, tu nema baš mnogo raži. Hleb može da bude vazdušastiji
          od kvasca ali ne mnogo. Uvek ima neku svoju težinu i nikada neće ličiti na hleb spremljen od pšeničnog brašna.

        </p>
      </div>
    </div>
    <!-- Offers-Intro Item -->
    <div class="col-4">
      <img class="center" src="https://i.imgur.com/LXZbdF2.jpg" alt="Card image cap">
      <div class="card-body text-center">
        <h4 class="card-title">PŠENIČNO BRAŠNO</h4>
        <p class="card-text text-justify">
          Najčešće upotrebljavano brašno u domaćinstvu je pšenično brašno dobijeno mlevenjem prethodno očišćene i pripremljene pšenice
          Triticum aestivum. Kvalitet pšeničnog brašna, a prema tome i njegova namena, zavise od tehnološkog kvaliteta pšenice
          koja se prerađuje ali i od tehnološkog postupka mlevenja.Zavisno od stepena mlevenja na tržištu se nalaze belo
          pšenično brašno (tip 400 i tip 550), polubelo pšenično brašno (tip 700 i tip 850), crno pšenično brašno (tip 1100
          i tip 1600) i brašno celog zrna pšenice.

        </p>
      </div>
    </div>

  </div>


</div>

<div class="container-fluid recepti">
  <img class="img-fluid" src="https://i.imgur.com/dowLH2Y.jpg" alt="Recept">
  <div class="centered text-center">
    <h1>NOVI RECEPT!</h1>
    <p>Za ljubitelje zdrave hrane
    </p>
    <hr>
    <button routerLink="/offer" type="button" class="btn btn-outline-light btn-lg">
      <a routerLink="/about" class="btn btn-info btn-lg" href="">Detaljnije</a>
    </button>
    <div class="container-fluid recepti">
